body {
  background-image: repeating-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5) 2px,
      rgba(0, 0, 0, 0.4) 2px,
      rgba(0, 0, 0, 0.4) 4px
    ),
    url("https://www.alpha-orbital.com/assets/images/bg/stardots.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.info {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.info .title {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white;
}

.info .description {
  font-family: "Dosis", sans-serif;
  letter-spacing: 3px;
  color: #c3c3c3;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row select {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px rgba(68, 113, 155, 0.35) solid;
  height: 35px;
  color: white;
  outline: none;
}

.row select > option {
  background-color: rgb(10, 24, 36);
}

.row > div {
  width: 260px;
  display: flex;
  justify-content: center;
}

.row.names .name,
.row.images .image,
.row.stats .stat {
  visibility: hidden;
}

.row.names .name.show,
.row.images .image.show,
.row.stats .stat.show {
  visibility: visible;
}

.row .ship-list {
  width: 260px;
}

.row.names {
  margin-top: 20px;
}

.row.names div {
  color: white;
  font-family: "Dosis", sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}

.row.images {
  margin: 10px 0;
}

.row.images div img {
  width: 260px;
  border-radius: 4px;
}

.row.stats {
  display: flex;
  flex-direction: column;
}

.row.stats div {
  width: 100%;
  display: flex;
  font-size: 14px;
}

.row.stats .line {
  display: flex;
  justify-content: space-between;
}

.row.stats .line.first {
  color: #cacaca;
}

.row.stats .line .last {
  border-bottom: 1px solid #1b3145;
}

.row.stats .line.second {
  color: #94c2d8;
}

.row.stats .line.third {
  color: #678eb2;
}

.row.stats hr {
  height: 1px;
  background-color: #1b3145;
  border: none;
}

.row.stats .line > div {
  display: flex;
  justify-content: center;
  width: 260px;
  padding: 4px 0;
}

.row.stats .line > div.selected {
  background-color: rgba(96, 125, 139, 0.5);
}
